
body {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
}

header nav {
  text-align: center;
  padding: 10px;
}

header a {
  background-color: aqua;
}

figure {
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 14px;
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin: auto;
  padding: 10px;
}

#details div {
  float: left;
  text-align: center;
  width: 25%;
  background-color: red;
}
